In [39]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
# Read in the dataset
df = pd.read_csv('df.csv')

In [41]:
df.head()

,Unnamed: 0,ssn,cc_num,first,last,gender,street,city,state,zip,...,dob,acct_num,trans_num,unix_time,category,amt,is_fraud,merchant,merch_lat,merch_long
0,0,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Ambler,PA,19002,...,1959-10-03,888022315787,91ab12e73ef38206e1121e9648d2408d,1.558720e+09,gas_transport,69.12,0.0,Phillips Group,39.491416,-75.588522
1,1,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Ambler,PA,19002,...,1959-10-03,888022315787,071553d533a6822a4431c354c434ddcb,1.569426e+09,grocery_pos,68.11,0.0,Tucker Ltd,40.890319,-75.573359
2,2,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Ambler,PA,19002,...,1959-10-03,888022315787,0cfad38ef15e4749eff68dc83f62c151,1.577206e+09,misc_net,40.35,0.0,Dixon PLC,39.244958,-74.475327
3,3,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Ambler,PA,19002,...,1959-10-03,888022315787,5782693d7c70f062f258cb30bfa8900f,1.571428e+09,grocery_pos,96.22,0.0,Lambert-Cooper,39.656925,-75.802342
4,4,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Ambler,PA,19002,...,1959-10-03,888022315787,35fd7db657d7e30dd608c37f7798186e,1.549840e+09,gas_transport,71.89,0.0,Griffith LLC,40.313342,-74.220434

In [42]:
df.describe()

,Unnamed: 0,cc_num,zip,lat,long,city_pop,acct_num,unix_time,amt,is_fraud,merch_lat,merch_long
count,4.260921e+06,4.260921e+06,4.260921e+06,4.260921e+06,4.260921e+06,4.260921e+06,4.260921e+06,4.260904e+06,4.260904e+06,4.260904e+06,4.260904e+06,4.260904e+06
mean,2.130460e+06,3.916795e+17,5.190383e+04,3.735270e+01,-9.247593e+01,3.038011e+05,4.913601e+11,1.620228e+09,6.898790e+01,1.181439e-03,3.735276e+01,-9.247610e+01
std,1.230022e+06,1.267802e+18,2.996721e+04,5.474360e+00,1.740612e+01,5.696231e+05,2.897746e+11,3.795228e+07,1.618467e+02,3.435177e-02,5.504630e+00,1.741603e+01
min,0.000000e+00,6.040027e+10,1.571000e+03,1.958930e+01,-1.593683e+02,1.050000e+02,2.348758e+09,1.546261e+09,1.000000e+00,0.000000e+00,1.859001e+01,-1.603677e+02
25%,1.065230e+06,1.800618e+14,2.750500e+04,3.378360e+01,-9.868950e+01,2.010300e+04,2.568452e+11,1.587482e+09,9.100000e+00,0.000000e+00,3.370138e+01,-9.903072e+01
50%,2.130460e+06,3.524238e+15,4.920200e+04,3.824200e+01,-8.717940e+01,6.759300e+04,4.719310e+11,1.626431e+09,4.449000e+01,0.000000e+00,3.819365e+01,-8.727445e+01
75%,3.195690e+06,4.604409e+15,7.870400e+04,4.098200e+01,-7.994400e+01,2.420370e+05,7.518511e+11,1.654918e+09,8.158000e+01,0.000000e+00,4.120567e+01,-7.966098e+01
max,4.260920e+06,4.986227e+18,9.970500e+04,6.478050e+01,-6.824480e+01,2.906700e+06,9.993899e+11,1.672492e+09,4.130053e+04,1.000000e+00,6.577610e+01,-6.724632e+01

In [43]:
df.isnull().sum()

Unnamed: 0     0
ssn            0
cc_num         0
first          0
last           0
gender         0
street         0
city           0
state          0
zip            0
lat            0
long           0
city_pop       0
job            0
dob            0
acct_num       0
trans_num     17
unix_time     17
category      17
amt           17
is_fraud      17
merchant      17
merch_lat     17
merch_long    17
dtype: int64

In [44]:
df = df.dropna()

In [45]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4260904 entries, 0 to 4260920
Data columns (total 24 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   ssn         object
 2   cc_num      int64
 3   first       object
 4   last        object
 5   gender      object
 6   street      object
 7   city        object
 8   state       object
 9   zip         int64
 10  lat         float64
 11  long        float64
 12  city_pop    int64
 13  job         object
 14  dob         object
 15  acct_num    int64
 16  trans_num   object
 17  unix_time   float64
 18  category    object
 19  amt         float64
 20  is_fraud    float64
 21  merchant    object
 22  merch_lat   float64
 23  merch_long  float64
dtypes: float64(7), int64(5), object(12)
memory usage: 812.7+ MB

In [46]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [47]:
df = df.apply(LabelEncoder().fit_transform)
df.head()

,Unnamed: 0,ssn,cc_num,first,last,gender,street,city,state,zip,...,dob,acct_num,trans_num,unix_time,category,amt,is_fraud,merchant,merch_lat,merch_long
0,0,138,97,172,229,1,851,14,38,159,...,230,868,2424698,267706,2,6812,0,15205,2241082,3472578
1,1,138,97,172,229,1,851,14,38,159,...,230,868,117767,571120,4,6711,0,19705,2712097,3474269
2,2,138,97,172,229,1,851,14,38,159,...,230,868,216100,806922,8,3935,0,4778,2174410,3626730
3,3,138,97,172,229,1,851,14,38,159,...,230,868,1458147,619826,4,9522,0,10615,2288296,3450133
4,4,138,97,172,229,1,851,14,38,159,...,230,868,898913,64945,2,7089,0,7171,2512641,3672089

In [55]:
# Create a list of columns to use for creating the model
columns = [ 'lat', 'long',  'job', 'dob', 'acct_num', 'trans_num', 'unix_time', 'category', 'amt', 'is_fraud', 'merchant', 'merch_lat', 'merch_long']

# Create a new dataframe with only the columns we are interested in
df_model = df[columns]

In [60]:
# Create a list of features to use for anomaly detection
features = [ 'lat', 'long','job', 'dob', 'acct_num', 'trans_num', 'unix_time', 'category', 'amt', 'is_fraud', 'merchant', 'merch_lat', 'merch_long']

# Create a new dataframe with only the features we are interested in
df_features = df[features]

In [97]:
# Separate the dataframe into two parts: the training set and the test set
train_set = df_features[df_features['unix_time'] < 4100000]
test_set = df_features[df_features['unix_time'] >= 4100000]
print(test_set)

         lat  long  job  dob  acct_num  trans_num  unix_time  category    amt  \
2229     597   819    5  230       868    1049354    4110006        13   5583
2484     597   819    5  230       868    2660279    4111117        13   4485
2526     597   819    5  230       868    2072635    4100034        13  13804
2908     597   819    5  230       868    3746747    4113467        13    709
3145     597   819    5  230       868    3834794    4104419        13    375
...      ...   ...  ...  ...       ...        ...        ...       ...    ...
4260131   40   602  287   63       290    3152240    4112291        13   1971
4260161   40   602  287   63       290    1482746    4109328        13   6889
4260352   40   602  287   63       290    2665160    4105999        13   7041
4260627   40   602  287   63       290    2750405    4106730        13   4340
4260897   40   602  287   63       290    2953575    4113095        13    864

         is_fraud  merchant  merch_lat  merch_long
2229            0      3053    2468788     3427503
2484            0     15875    2786631     3606964
2526            0      3190    2208801     3525944
2908            0      5804    2456017     3495251
3145            0      9648    2518111     3498694
...           ...       ...        ...         ...
4260131         0     16245     239244     2464827
4260161         0     18134     209184     2434190
4260352         0     14712     175382     2657482
4260627         0      4387     176945     2500513
4260897         0     17958     201159     2714276

[16793 rows x 13 columns]

In [98]:

from sklearn import preprocessing
  
for feature in features:
    if df_features[feature].dtype == 'string':
        le = preprocessing.LabelEncoder()
        df_features[feature] = le.fit_transform(df_features[feature])

In [100]:
# Create a list of outliers
outliers = []

# For each feature, calculate the mean and standard deviation
for feature in features:
    mean = np.mean(train_set[feature])
    std = np.std(train_set[feature])
    
    # Find the rows in the test set that are outside the given threshold
    threshold = 3*std
    outliers.extend(test_set[test_set[feature] > mean + threshold].index)
    outliers.extend(test_set[test_set[feature] < mean - threshold].index)
    
# Create a new dataframe with only the customers with abnormal behaviors
df_outliers = df_model.loc[outliers]

# Print the dataframe
print(df_outliers)

         lat  long  job  dob  acct_num  trans_num  unix_time  category    amt  \
5255     213   664  263  476       698    2547387    4104169        13  40605
37201    252   117  403  930       927    4189471    4111175        13  60421
42553    290   106    8  664       667     413792    4112483        13  75266
43060    290   106    8  664       667    4016242    4103821        13  42628
56876    135   329  325  682       902     593642    4103956        13  45648
...      ...   ...  ...  ...       ...        ...        ...       ...    ...
4199071  643   865  261  483       314     962840    4112939        13  32623
4206096   57   644  335  675       107    1267767    4114629        13  40189
4240417  554   217  101  792       199    2686007    4110938        13  45463
4251498  192   147   22  888       502    1941403    4108657        13  36546
4253711  782   925   89  802       606    1336600    4108763        13  57812

         is_fraud  merchant  merch_lat  merch_long
5255            0      3720     767041     2850185
37201           0     21066     961195      615997
42553           0      8685    1247808      408591
43060           0     15953    1055016      610426
56876           0     16496     513262     1401574
...           ...       ...        ...         ...
4199071         0      6309    2564591     3794082
4206096         0     11224     328368     2872380
4240417         0      6493    2115368      940288
4251498         0     21567     701943      523245
4253711         0     15327    3047947     3957098

[292 rows x 13 columns]